.App {
  text-align: center;
  margin: 20px 80px;
}

.plusButton{
  cursor: pointer;
}
.notesListContainer{

}
.inputContainer{
  display: flex;
  gap:10px;
  margin: 20px 40px;
}
.button{
  cursor: pointer;
}
.note{
  display: flex;
  justify-content: space-between;
}
.editors{
display: flex;
gap:10px;
cursor: pointer;

}
.newNoteContainer{

}

